<form action="/students" method="POST">
  <label>
    Name:
    <input type="text" name="name" required />
  </label>
  <br />
  <label>
    Email:
    <input type="email" name="email" required />
  </label>
  <br />
  <label>
    Student ID:
    <input type="text" name="studentID" required />
  </label>
  <br />
  <label>
    Date of Birth:
    <input type="date" name="dateOfBirth" required />
  </label>
  <br />
  <label>
    Graduated:
    <input type="checkbox" name="graduated" />
  </label>
  <br />
  <input type="submit" value="Add Student" />
</form>
